@{
    ViewBag.Title = "Contact";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/home/login");
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ivo Lima Jr - 61986618601<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>