@{
    ViewBag.Title = "Contact";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/home/login");
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ivo Lima Jr - 61986618601<br /> Entre em contato comigo
</address>
